In [1]:
import pandas as pd

In [2]:
df_bili = pd.read_csv("./data/bilibili_tcp_flow.csv")
df_bili.insert(loc=5, column='is_tcp', value='1')
df_bili_u = pd.read_csv("./data/bilibili_udp_flow.csv")
df_bili_u.insert(loc=5, column='is_tcp', value='0')
df_bili = df_bili.append(df_bili_u)

df_skype = pd.read_csv("./data/Skype_HongKong_tcp_flow.csv")
df_skype.insert(loc=5, column='is_tcp', value='1')
df_skype_u = pd.read_csv("./data/Skype_HongKong_udp_flow.csv")
df_skype_u.insert(loc=5, column='is_tcp', value='0')
df_skype = df_skype.append(df_skype_u)

df_download = pd.read_csv("./data/APP_DOWNLOAD_tcp_flow.csv")
df_download.insert(loc=5, column='is_tcp', value='1')
df_download_u = pd.read_csv("./data/APP_DOWNLOAD_udp_flow.csv")
df_download_u.insert(loc=5, column='is_tcp', value='0')
df_download = df_download.append(df_download_u)

df_LoL = pd.read_csv("./data/LOL_AI_tcp_flow.csv")
df_LoL.insert(loc=5, column='is_tcp', value='1')
df_LoL_u = pd.read_csv("./data/LOL_AI_udp_flow.csv")
df_LoL_u.insert(loc=5, column='is_tcp', value='0')
df_LoL = df_LoL.append(df_LoL_u)

df_netease = pd.read_csv("./data/netease_game_tcp_flow.csv")
df_netease.insert(loc=5, column='is_tcp', value='1')
df_netease_u = pd.read_csv("./data/netease_game_udp_flow.csv")
df_netease_u.insert(loc=5, column='is_tcp', value='0')
df_netease = df_netease.append(df_netease_u)

df_youtube = pd.read_csv("./data/youtube_tcp_flow.csv")
df_youtube.insert(loc=5, column='is_tcp', value='1')
df_youtube_u = pd.read_csv("./data/youtube_udp_flow.csv")
df_youtube_u.insert(loc=5, column='is_tcp', value='0')
df_youtube = df_youtube.append(df_youtube_u)

df_tencent = pd.read_csv("./data/tencent_game_na_tcp_flow.csv")
df_tencent.insert(loc=5, column='is_tcp', value='1')
df_tencent_u = pd.read_csv("./data/tencent_game_na_udp_flow.csv")
df_tencent_u.insert(loc=5, column='is_tcp', value='0')
df_tencent = df_tencent.append(df_tencent_u)

In [3]:
## name of output
output = "./concatenate.csv"

In [4]:
df_bili.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,is_tcp
0,4.428571,11.716899,0.750000,0.014521,7,1
1,1011.593000,517.558285,4.025126,0.001144,1000,1
2,834.888889,607.661173,2.750000,0.015555,45,1
3,76.123077,106.796264,1.063492,1.706077,130,1
4,4.428571,11.716899,0.750000,0.014508,7,1

In [5]:
df_bili.insert(loc=6, column='outcome', value='bili')
df_skype.insert(loc=6, column='outcome', value='skype')
df_download.insert(loc=6, column='outcome', value='download')
df_LoL.insert(loc=6, column='outcome', value='LoL')
df_netease.insert(loc=6, column='outcome', value='netease')
df_youtube.insert(loc=6, column='outcome', value='youtube')
df_tencent.insert(loc=6, column='outcome', value='tencent')

In [6]:
df_concat = pd.concat([df_bili, df_skype, df_download, df_LoL, df_netease, df_youtube, df_tencent,
                      ], ignore_index=True)

In [7]:
# df_1x.head(5)
print("Read {} rows.".format(len(df_concat)))

Read 2528 rows.

In [8]:
df_concat.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,is_tcp,outcome
0,4.428571,11.716899,0.750000,0.014521,7,1,bili
1,1011.593000,517.558285,4.025126,0.001144,1000,1,bili
2,834.888889,607.661173,2.750000,0.015555,45,1,bili
3,76.123077,106.796264,1.063492,1.706077,130,1,bili
4,4.428571,11.716899,0.750000,0.014508,7,1,bili

In [9]:
df_concat.to_csv(output)

In [ ]:
# df_1x.to_csv('train_1x.csv')