In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [9]:
df = pd.read_csv("./concatenate.csv")
df = df.drop(df.columns[0], axis=1)

In [10]:
df.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,is_tcp,outcome
0,4.428571,11.716899,0.750000,0.014521,7,1,bili
1,1011.593000,517.558285,4.025126,0.001144,1000,1,bili
2,834.888889,607.661173,2.750000,0.015555,45,1,bili
3,76.123077,106.796264,1.063492,1.706077,130,1,bili
4,4.428571,11.716899,0.750000,0.014508,7,1,bili

In [11]:
len(df)

2528

In [12]:
## change to 0.50 0.25 0.75

## train : test = 7 : 3
train_normal, test_normal = train_test_split(df, test_size=0.3)

# ## train : test = 0.75 : 0.25
# train_normal, test_normal = train_test_split(df_normal, test_size=0.75)

# ## train : test = 0.25 : 0.75
# train_normal, test_normal = train_test_split(df_normal, test_size=0.25)

In [13]:
len(train_normal)

1769

In [15]:
train_normal.head(10)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,is_tcp,outcome
868,367.526316,604.976342,0.900000,0.013149,19,1,skype
855,137.928571,384.856909,1.000000,0.025902,14,1,skype
1201,1288.000000,0.000000,-1.000000,0.000186,1000,1,download
1080,194.000000,-1.000000,0.000000,-1.000000,1,0,skype
2475,71.000000,-1.000000,0.000000,-1.000000,1,0,tencent
1546,174.986000,193.484485,-1.000000,0.061939,1000,0,LoL
232,365.384615,529.289794,1.363636,0.037132,26,1,skype
1532,35.320000,12.335224,-1.000000,0.029828,1000,0,LoL
2313,153.000000,-1.000000,0.000000,-1.000000,1,0,tencent
152,84.913043,201.726843,1.090909,0.254161,23,1,bili

In [16]:
# train test split on no sampled data

train_normal.to_csv('./train_70%.csv')
test_normal.to_csv('./test_30%.csv')

In [17]:
# # train test split on upsampled data

# train_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/upsampled/upsampled_samp@80%_.csv')
# test_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/upsampled/upsampled_samp@80%_.csv')

In [18]:
# # train test split on upsampled data

# train_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/no_upsampled/train_nosampled_50%.csv')
# test_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/no_upsampled/test_nosampled_50%.csv')