In [1]:
import pandas as pd

In [2]:
df_bili = pd.read_csv("./data/added_data_v2/bilibili_tcp_flow.csv")
df_bili.insert(loc=7, column='is_tcp', value='1')
df_bili_u = pd.read_csv("./data/added_data_v2/bilibili_udp_flow.csv")
df_bili_u.insert(loc=7, column='is_tcp', value='0')
df_bili = df_bili.append(df_bili_u)

df_skype = pd.read_csv("./data/added_data_v2/Skype_HongKong_tcp_flow.csv")
df_skype.insert(loc=7, column='is_tcp', value='1')
df_skype_u = pd.read_csv("./data/added_data_v2/Skype_HongKong_udp_flow.csv")
df_skype_u.insert(loc=7, column='is_tcp', value='0')
df_skype = df_skype.append(df_skype_u)

df_download = pd.read_csv("./data/added_data_v2/APP_DOWNLOAD_tcp_flow.csv")
df_download.insert(loc=7, column='is_tcp', value='1')
df_download_u = pd.read_csv("./data/added_data_v2/APP_DOWNLOAD_udp_flow.csv")
df_download_u.insert(loc=7, column='is_tcp', value='0')
df_download = df_download.append(df_download_u)

df_LoL = pd.read_csv("./data/added_data_v2/LOL_AI_tcp_flow.csv")
df_LoL.insert(loc=7, column='is_tcp', value='1')
df_LoL_u = pd.read_csv("./data/added_data_v2/LOL_AI_udp_flow.csv")
df_LoL_u.insert(loc=7, column='is_tcp', value='0')
df_LoL = df_LoL.append(df_LoL_u)

df_netease = pd.read_csv("./data/added_data_v2/netease_game_tcp_flow.csv")
df_netease.insert(loc=7, column='is_tcp', value='1')
df_netease_u = pd.read_csv("./data/added_data_v2/netease_game_udp_flow.csv")
df_netease_u.insert(loc=7, column='is_tcp', value='0')
df_netease = df_netease.append(df_netease_u)

df_youtube = pd.read_csv("./data/added_data_v2/youtube_tcp_flow.csv")
df_youtube.insert(loc=7, column='is_tcp', value='1')
df_youtube_u = pd.read_csv("./data/added_data_v2/youtube_udp_flow.csv")
df_youtube_u.insert(loc=7, column='is_tcp', value='0')
df_youtube = df_youtube.append(df_youtube_u)

df_tencent = pd.read_csv("./data/added_data_v2/tencent_game_na_tcp_flow.csv")
df_tencent.insert(loc=7, column='is_tcp', value='1')
df_tencent_u = pd.read_csv("./data/added_data_v2/tencent_game_na_udp_flow.csv")
df_tencent_u.insert(loc=7, column='is_tcp', value='0')
df_tencent = df_tencent.append(df_tencent_u)

df_wechat = pd.read_csv("./data/added_data_v2/wechat_video_tcp_flow.csv")
df_wechat.insert(loc=7, column='is_tcp', value='1')
df_wechat_u = pd.read_csv("./data/added_data_v2/wechat_video_udp_flow.csv")
df_wechat_u.insert(loc=7, column='is_tcp', value='0')
df_wechat = df_wechat.append(df_wechat_u)

df_google = pd.read_csv("./data/added_data_v2/google_drive_download_tcp_flow.csv")
df_google.insert(loc=7, column='is_tcp', value='1')
df_google_u = pd.read_csv("./data/added_data_v2/google_drive_download_udp_flow.csv")
df_google_u.insert(loc=7, column='is_tcp', value='0')
df_google = df_google.append(df_google_u)

In [3]:
## name of output
output = "./concatenate.csv"

In [4]:
print("Read {} rows.".format(len(df_google)))

Read 334 rows.

In [5]:
df_bili.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,duration,pkt_len,is_tcp
0,33.076923,14.384375,1.166667,0.000217,13,0.002604,430.0,1
1,1290.257073,117.777328,-1.000000,0.000094,813,0.076193,1048979.0,1
2,1282.492665,129.922698,-1.000000,0.000088,818,0.072213,1049079.0,1
3,1282.492665,129.922698,-1.000000,0.001646,818,1.345143,1049079.0,1
4,1285.587010,124.614575,-1.000000,0.002019,816,1.645688,1049039.0,1

In [6]:
df_bili.insert(loc=8, column='outcome', value='streaming')
df_skype.insert(loc=8, column='outcome', value='voip')
df_download.insert(loc=8, column='outcome', value='download')
df_LoL.insert(loc=8, column='outcome', value='game')
df_netease.insert(loc=8, column='outcome', value='game')
df_youtube.insert(loc=8, column='outcome', value='streaming')
df_tencent.insert(loc=8, column='outcome', value='game')
df_wechat.insert(loc=8, column='outcome', value='voip')
df_google.insert(loc=8, column='outcome', value='download')

In [7]:
df_concat = pd.concat([df_bili, df_skype, df_download, df_LoL, df_netease, df_youtube, df_tencent, df_wechat, df_google
                      ], ignore_index=True)

In [8]:
# df_1x.head(5)
print("Read {} rows.".format(len(df_concat)))
# print("Missing values:")
# print(format(df_google.isnull().sum()))

Read 4969 rows.

In [9]:
df_concat.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,duration,pkt_len,is_tcp,outcome
0,33.076923,14.384375,1.166667,0.000217,13,0.002604,430.0,1,streaming
1,1290.257073,117.777328,-1.000000,0.000094,813,0.076193,1048979.0,1,streaming
2,1282.492665,129.922698,-1.000000,0.000088,818,0.072213,1049079.0,1,streaming
3,1282.492665,129.922698,-1.000000,0.001646,818,1.345143,1049079.0,1,streaming
4,1285.587010,124.614575,-1.000000,0.002019,816,1.645688,1049039.0,1,streaming

In [10]:
df_concat.to_csv(output)

In [11]:
df_voip = pd.concat([df_wechat, df_skype], ignore_index=True)
df_streaming = pd.concat([df_youtube, df_bili], ignore_index=True)
df_game = pd.concat([df_tencent, df_LoL, df_netease], ignore_index=True)
df_down = pd.concat([df_google, df_download], ignore_index=True)

In [12]:
df_voip.to_csv("./voip.csv")
df_streaming.to_csv("./streaming.csv")
df_game.to_csv("./game.csv")
df_down.to_csv("./download.csv")