In [1]:
import pandas as pd

In [2]:
df_bili = pd.read_csv("./data/added_data/bilibili_tcp_flow.csv")
df_bili.insert(loc=6, column='is_tcp', value='1')
df_bili_u = pd.read_csv("./data/added_data/bilibili_udp_flow.csv")
df_bili_u.insert(loc=6, column='is_tcp', value='0')
df_bili = df_bili.append(df_bili_u)

df_skype = pd.read_csv("./data/added_data/Skype_HongKong_tcp_flow.csv")
df_skype.insert(loc=6, column='is_tcp', value='1')
df_skype_u = pd.read_csv("./data/added_data/Skype_HongKong_udp_flow.csv")
df_skype_u.insert(loc=6, column='is_tcp', value='0')
df_skype = df_skype.append(df_skype_u)

df_download = pd.read_csv("./data/added_data/APP_DOWNLOAD_tcp_flow.csv")
df_download.insert(loc=6, column='is_tcp', value='1')
df_download_u = pd.read_csv("./data/added_data/APP_DOWNLOAD_udp_flow.csv")
df_download_u.insert(loc=6, column='is_tcp', value='0')
df_download = df_download.append(df_download_u)

df_LoL = pd.read_csv("./data/added_data/LOL_AI_tcp_flow.csv")
df_LoL.insert(loc=6, column='is_tcp', value='1')
df_LoL_u = pd.read_csv("./data/added_data/LOL_AI_udp_flow.csv")
df_LoL_u.insert(loc=6, column='is_tcp', value='0')
df_LoL = df_LoL.append(df_LoL_u)

df_netease = pd.read_csv("./data/added_data/netease_game_tcp_flow.csv")
df_netease.insert(loc=6, column='is_tcp', value='1')
df_netease_u = pd.read_csv("./data/added_data/netease_game_udp_flow.csv")
df_netease_u.insert(loc=6, column='is_tcp', value='0')
df_netease = df_netease.append(df_netease_u)

df_youtube = pd.read_csv("./data/added_data/youtube_tcp_flow.csv")
df_youtube.insert(loc=6, column='is_tcp', value='1')
df_youtube_u = pd.read_csv("./data/added_data/youtube_udp_flow.csv")
df_youtube_u.insert(loc=6, column='is_tcp', value='0')
df_youtube = df_youtube.append(df_youtube_u)

df_tencent = pd.read_csv("./data/added_data/tencent_game_na_tcp_flow.csv")
df_tencent.insert(loc=6, column='is_tcp', value='1')
df_tencent_u = pd.read_csv("./data/added_data/tencent_game_na_udp_flow.csv")
df_tencent_u.insert(loc=6, column='is_tcp', value='0')
df_tencent = df_tencent.append(df_tencent_u)

df_wechat = pd.read_csv("./data/added_data/wechat_video_tcp_flow.csv")
df_wechat.insert(loc=6, column='is_tcp', value='1')
df_wechat_u = pd.read_csv("./data/added_data/wechat_video_udp_flow.csv")
df_wechat_u.insert(loc=6, column='is_tcp', value='0')
df_wechat = df_wechat.append(df_wechat_u)

df_google = pd.read_csv("./data/added_data/google_drive_download_tcp_flow.csv")
df_google.insert(loc=6, column='is_tcp', value='1')
df_google_u = pd.read_csv("./data/added_data/google_drive_download_udp_flow.csv")
df_google_u.insert(loc=6, column='is_tcp', value='0')
df_google = df_google.append(df_google_u)

In [3]:
## name of output
output = "./concatenate.csv"

In [4]:
print("Read {} rows.".format(len(df_google)))

Read 528 rows.

In [5]:
df_bili.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,duration,is_tcp
0,4.428571,11.716899,0.750000,0.014521,7,0.087127,1
1,968.331541,546.154113,3.292308,0.000081,558,0.044855,1
2,1044.833676,491.751095,5.012346,0.001478,487,0.718186,1
3,69.000000,119.511506,0.500000,0.127108,3,0.254215,1
4,57.333333,91.701963,0.800000,0.115956,9,0.927650,1

In [6]:
df_bili.insert(loc=7, column='outcome', value='streaming')
df_skype.insert(loc=7, column='outcome', value='voip')
df_download.insert(loc=7, column='outcome', value='download')
df_LoL.insert(loc=7, column='outcome', value='game')
df_netease.insert(loc=7, column='outcome', value='game')
df_youtube.insert(loc=7, column='outcome', value='streaming')
df_tencent.insert(loc=7, column='outcome', value='game')
df_wechat.insert(loc=7, column='outcome', value='voip')
df_google.insert(loc=7, column='outcome', value='download')

In [7]:
df_concat = pd.concat([df_bili, df_skype, df_download, df_LoL, df_netease, df_youtube, df_tencent, df_wechat, df_google
                      ], ignore_index=True)

In [8]:
# df_1x.head(5)
print("Read {} rows.".format(len(df_concat)))
# print("Missing values:")
# print(format(df_google.isnull().sum()))

Read 21562 rows.

In [9]:
df_concat.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,duration,is_tcp,outcome
0,4.428571,11.716899,0.750000,0.014521,7,0.087127,1,streaming
1,968.331541,546.154113,3.292308,0.000081,558,0.044855,1,streaming
2,1044.833676,491.751095,5.012346,0.001478,487,0.718186,1,streaming
3,69.000000,119.511506,0.500000,0.127108,3,0.254215,1,streaming
4,57.333333,91.701963,0.800000,0.115956,9,0.927650,1,streaming

In [10]:
df_concat.to_csv(output)