In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
df = pd.read_csv("./concatenate.csv")
df = df.drop(df.columns[0], axis=1)

In [3]:
df.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,outcome,pkt_count
0,4.428571,11.716899,0.750000,0.014521,bili,7
1,1011.593000,517.558285,4.025126,0.001144,bili,1000
2,834.888889,607.661173,2.750000,0.015555,bili,45
3,76.123077,106.796264,1.063492,1.706077,bili,130
4,4.428571,11.716899,0.750000,0.014508,bili,7

In [4]:
len(df)

2528

In [5]:
## change to 0.50 0.25 0.75

## train : test = 7 : 3
train_normal, test_normal = train_test_split(df, test_size=0.3)

# ## train : test = 0.75 : 0.25
# train_normal, test_normal = train_test_split(df_normal, test_size=0.75)

# ## train : test = 0.25 : 0.75
# train_normal, test_normal = train_test_split(df_normal, test_size=0.25)

In [6]:
len(train_normal)

1769

In [7]:
train_normal.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,outcome,pkt_count
1171,1288.000000,0.000000,-1.000000,0.000098,download,1000
1237,1288.000000,0.000000,-1.000000,0.000108,download,1000
1514,174.344828,341.553099,1.230769,1.746156,youtube,29
2014,23.727273,17.524010,1.291667,3.718036,skype,55
2229,136.428571,0.513553,-1.000000,2.443711,youtube,14

In [ ]:
# train test split on no sampled data

train_normal.to_csv('./train_70%.csv')
test_normal.to_csv('./test_30%.csv')

In [ ]:
# # train test split on upsampled data

# train_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/upsampled/upsampled_samp@80%_.csv')
# test_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/upsampled/upsampled_samp@80%_.csv')

In [ ]:
# # train test split on upsampled data

# train_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/no_upsampled/train_nosampled_50%.csv')
# test_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/no_upsampled/test_nosampled_50%.csv')