In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
df = pd.read_csv("./concatenate.csv")
df = df.drop(df.columns[0], axis=1)

df = df.dropna(axis=0, how='any')
print(len(df))

17715

In [3]:
df.head(5)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,duration,is_tcp,outcome
0,4.428571,11.716899,0.750000,0.014521,7,0.087127,1,streaming
1,968.331541,546.154113,3.292308,0.000081,558,0.044855,1,streaming
2,1044.833676,491.751095,5.012346,0.001478,487,0.718186,1,streaming
3,69.000000,119.511506,0.500000,0.127108,3,0.254215,1,streaming
4,57.333333,91.701963,0.800000,0.115956,9,0.927650,1,streaming

In [4]:
for item in df.outcome.unique():
    print (item, (df.outcome == item).sum())

streaming 1270
voip 8564
download 830
game 7051

In [5]:
## change to 0.50 0.25 0.75

## train : test = 7 : 3
train_normal, test_normal = train_test_split(df, test_size=0.3)

# ## train : test = 0.75 : 0.25
# train_normal, test_normal = train_test_split(df_normal, test_size=0.75)

# ## train : test = 0.25 : 0.75
# train_normal, test_normal = train_test_split(df_normal, test_size=0.25)

In [6]:
print(len(train_normal),len(test_normal))

12400 5315

In [7]:
train_normal.head(10)

,avg(pkt_len),stddev(pkt_len),fb_ratio,inter_arrival_time,pkt_count,duration,is_tcp,outcome
17415,476.744186,455.723658,1.866667,0.023741,43,0.997141,0,voip
17927,176.956044,330.176448,-1.000000,0.011097,91,0.998755,0,voip
2381,582.329457,374.212257,-1.000000,0.003853,258,0.990259,0,voip
15128,0.000000,0.000000,-1.000000,0.193262,2,0.193262,1,voip
17801,472.983051,566.781150,-1.000000,0.008524,118,0.997261,0,voip
2395,652.591078,402.699413,-1.000000,0.003638,269,0.974936,0,voip
2858,813.751429,343.954990,-1.000000,0.002845,350,0.992912,0,voip
14352,30.000000,-1.000000,-1.000000,-1.000000,1,0.409896,0,game
15859,0.000000,0.000000,-1.000000,0.100302,3,0.200603,1,voip
9635,3.875000,10.960155,1.000000,0.001210,8,0.008473,1,game

In [8]:
# train test split on no sampled data

train_normal.to_csv('./train_70%.csv')
test_normal.to_csv('./test_30%.csv')

In [ ]:
# # train test split on upsampled data

# train_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/upsampled/upsampled_samp@80%_.csv')
# test_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/upsampled/upsampled_samp@80%_.csv')

In [ ]:
# # train test split on upsampled data

# train_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/no_upsampled/train_nosampled_50%.csv')
# test_normal.to_csv('/Users/tsaiflow/Desktop/NN&Sampling/data_upsampled_ddos(unb)_normal(own)/test/no_upsampled/test_nosampled_50%.csv')